<!DOCTYPE html>
<html>
  <head>
    <title>Dashboard</title>
    <link rel="stylesheet" href="/style.css" />
  </head>

  <body>
    <%- include ("../partials/nav.ejs") %>
    <h1>This is the Dashboard</h1>
  </body>
</html>
